p {
  font-family: "oswald";
  font-weight: 200;
}

h3 {
  font-size: 1.5rem;
  line-height: 120%;
  margin-bottom: 0.2rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 120%;
}

.image-box {
  height: clamp(200px, 50vh, 400px);
  min-width: 300px;
  background-position: top;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

img {
  width: clamp(200px, 100%, 500px);
}

.container {
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.container-right {
  text-align: right;
}
