<a routerLink="/product/{{ product.id }}">
  <div
    [ngStyle]="{ 'background-image': 'url(' + product.images[0].url + ')' }"
    class="image-box"
  >
    <img
      *ngIf="product.isNew"
      src="../../../assets/images/newly_launched.png"
      alt=""
    />
  </div>
  <div class="container">
    <div class="container-left">
      <h3>{{ product.name }}</h3>
      <p>{{ product.movie }}</p>
    </div>
    <div class="container-right">
      <h4>{{ product.scale }}</h4>
      <p>{{ product.release_date_short }}</p>
    </div>
  </div>
</a>
