@use "../../styles/" as *;

.container {
  display: flex;
  font-size: 14px;
  font-weight: 200;
  line-height: 120%;

  @include tablet() {
    flex-direction: column;
  }
}

strong {
  font-weight: 600;
}

#angular-box {
  align-items: center;
  gap: 0.5rem;

  @include tablet() {
    align-items: flex-start;
  }
}

#footer-container {
  border-top: solid 1px white;
  padding: 2rem 1rem;
}

#footer-wrapper {
  justify-content: space-between;
  align-items: center;
  @include maxWidth();

  @include tablet() {
    gap: 2rem;
    align-items: flex-start;
  }
}

#footer-left {
  align-items: center;
  gap: 1.5rem;
  @include tablet() {
    align-items: flex-start;
  }
}

#footer-right {
  align-items: center;
  gap: 2rem;
  @include tablet() {
    align-items: flex-start;
  }
}

#personal-info {
  flex-direction: column;
  gap: 0.5rem;

  strong {
    font-size: 1.9rem;

    @include tablet() {
      font-size: 1.5rem;
    }
  }

  a {
    margin-left: 1rem;
    cursor: pointer;
  }

  #name-box {
    display: flex;
    align-items: center;
  }
}
