@use "../../styles/" as *;

.container {
  @include maxWidth();
}

h2,
h3 {
  line-height: 130%;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
  text-transform: none;
  font-weight: 100;
}

p {
  font-weight: 100;
}

#model {
  font-size: 1.2rem;
  margin: 1rem 0;
  text-transform: capitalize;
}

#button-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;

  a {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  #cart-button {
    @include button();
    margin: 0;
  }
}

#content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;

  @include hugeScreen() {
    grid-template-columns: 40% 60%;
    gap: 5rem;
  }

  @include mobile() {
    grid-template-columns: 1fr;
  }
}

#image-box {
  display: flex;
  align-items: flex-end;
  background-position: top;
  background-size: cover;
  height: 100%;
  min-height: 50vh;

  img {
    object-fit: contain;
    height: auto;
    width: 100%;
  }
}

#intro-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h3 {
    font-weight: 600;
    text-transform: uppercase;
  }
}

#intro {
  margin-bottom: 1rem;
}

.qty-box {
  display: flex;
  position: relative;
  flex-direction: column;
}

.select-box {
  border-radius: 5px;
  font-size: 1.2rem;
  width: 100%;
  padding: 0.8rem;
  background-color: rgba($color: #000000, $alpha: 0);
  color: white;

  option {
    background-color: rgba($color: #000, $alpha: 1);
  }
}

.submit {
  @include button();
  margin: 0 1rem;
  min-width: 200px;
  padding: 0.8rem;
}

.disable {
  cursor: auto;
  opacity: 0.2;

  &:hover {
    background-color: rgba(#000000, 0);
  }
}

#form-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1rem;
}

#message-box {
  display: flex;
  font-family: "oswald";
  justify-content: center;
  align-items: center;
  background-color: rgba(#32bc55, 0.8);
  font-size: 1.2rem;
  font-weight: 300;
}

#btt-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5rem;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    @include button();
    width: 15%;
    gap: 0.5rem;
    text-transform: uppercase;
    font-family: "oswald";
  }
}
