<!-- Loading Spinner -->
<app-loader *ngIf="isLoading"></app-loader>
<div *ngIf="!isLoading">
  <div class="container" *ngIf="product">
    <!-- Navigation Buttons -->
    <div id="button-wrapper">
      <a routerLink="/"
        ><mat-icon fontIcon="arrow_back"></mat-icon> Back to Products</a
      >
      <a routerLink="/cart" id="cart-button">Go to Cart</a>
    </div>
    <!-- Main Content Box -->
    <div id="content-wrapper">
      <!-- Photo Box -->
      <div
        [ngStyle]="{ 'background-image': 'url(' + product.images[1].url + ')' }"
        id="image-box"
      >
        <img
          *ngIf="product.isNew"
          src="../../../assets/images/newly_launched.png"
          alt=""
        />
      </div>
      <!-- Text Content Box -->
      <div class="text-wrapper">
        <div>
          <h2>{{ product.name }}</h2>
          <h3>{{ product.movie }}</h3>
        </div>
        <h3 id="model">{{ product.model }}</h3>
        <div id="intro-wrapper">
          <h3 class="sub-title">Character Introduction</h3>
          <p *ngFor="let paragraph of product.intro" id="intro">
            {{ paragraph }}
          </p>
          <h2>${{ product.price }}</h2>
          <!-- Form Box -->
          <div id="qty-box">
            <p>Quantity</p>
            <form
              #form="ngForm"
              (submit)="onSubmit(form)"
              id="form-wrapper"
              (change)="onChange()"
            >
              <select
                [(ngModel)]="selected"
                class="select-box"
                name="quantity"
                required
              >
                <option *ngFor="let num of [1, 2, 3, 4, 5]" [ngValue]="num">
                  {{ num }}
                </option>
              </select>
              <button
                type="submit"
                name="sumbit"
                class="submit"
                [ngClass]="form.invalid ? 'disable' : ''"
                [disabled]="form.invalid"
              >
                Add to Cart
              </button>
              <div id="message-box" *ngIf="isSubmitted">Added to the cart!</div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Middle Banner -->
  <app-character-midbanner
    [product]="product"
    [isLoading]="isLoading"
    *ngIf="product"
  ></app-character-midbanner>
  <!-- Gallery -->
  <app-character-gallery
    [product]="product"
    *ngIf="product"
  ></app-character-gallery>
  <div class="btt-box">
    <button (click)="backToTop()" *ngIf="product">
      <mat-icon color="white">arrow_upward</mat-icon>back to top
    </button>
  </div>
  <!-- 404 Not Found Message -->
  <div *ngIf="!product">
    <div class="container" id="err-box">
      <h2>Error Occured!</h2>
      <p>Please go back to homepage.</p>
    </div>
    <div class="btt-box">
      <button routerLink="/">
        <mat-icon color="white">arrow_back</mat-icon>back to home
      </button>
    </div>
  </div>
</div>
