@use "../../../styles/" as *;

* {
  line-height: 120%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border: 1px solid white;
  gap: 1rem;
  min-height: 25vh;
  margin: 1.5rem 0;

  @include tablet() {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#image-box {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include tablet() {
    background-position: top;
    min-height: 35vh;
  }
}

#detail-box {
  padding: 3rem 1rem;

  @include tablet() {
    padding: 1rem;
    text-align: center;
  }
}

#quantity-box {
  align-items: center;
  text-align: center;
  @include tablet() {
    padding: 1rem;
  }
}
