@use "../../styles/" as *;

.container {
  @include maxWidth();
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h2,
p {
  line-height: 130%;
  margin: 1rem 0;
  text-align: center;
}

h2 {
  @include tablet() {
    font-size: 1.5rem;
  }
}
p {
  font-weight: 200;

  em {
    font-weight: 600;
    text-decoration: underline;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#message-box {
  gap: 0.5rem;
  align-items: center;
  text-align: center;

  img {
    max-height: 300px;

    @include tablet() {
      width: 100%;
    }
  }
}

button {
  @include button();
  margin-top: 1.2rem;
  font-family: "oswald";
  font-size: 1.2rem;
  width: 300px;
}

#order-wrapper {
  h2 {
    margin-top: 3rem;
  }
}

#contact-info-wrapper {
  max-width: 1600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 3rem;

  h2,
  p {
    text-align: start;
  }

  strong {
    font-weight: 800;
    font-size: 1.2rem;
  }

  .text-box {
    margin-top: 2rem;
  }

  @include tablet() {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
