@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  line-height: 120%;
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  background-color: rgba(25, 25, 25, 1);
  color: white;
}

main {
  min-height: 80vh;
}

header {
  position: absolute;
  width: 100%;
}
