@use "../../../styles/" as *;

.container {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 3rem;
  padding: 2rem;
  border: 1px solid white;
  margin-top: 2rem;
  @include mobile() {
    grid-template-columns: 1fr;
    padding: 1.5rem;
  }
}

#img-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: clamp(300px, 20vh, 400px);
}

#content-box {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "oswald";
  font-size: 1.2rem;

  h2 {
    margin-bottom: 2rem;
    line-height: 120%;

    @include tablet(){
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }

  p {
    margin-top: 0.5rem;
    font-weight: 200;
    line-height: 130%;
  }

  strong {
    font-weight: 600;
    margin-right: 0.5rem;
  }
}
