@use "./../../styles/" as *;

ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
  border-right: 1px solid white;
  line-height: 120%;

  @include tablet(){
    flex-direction: row;
    border: none;
    justify-content: center;
    margin-bottom: 2rem;
    text-align: center;
  }
}

a {
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  color: white;

  :hover {
    color: orangered;
  }
}

.active {
  color: orange;
}

#line{
  display: none;
  max-width: 90%;

  @include tablet(){
    display: block;
  }
}